# macOS
.DS_Store

# Android Studio / IntelliJ
.idea/
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/

# Gradle
.gradle/
**/.gradle/
wrapper/dists/
**/wrapper/dists/

# Build outputs
build/
**/build/
out/
**/out/

# Caches
caches/
**/caches/

# Logs / compiled files
*.log
*.class

# Python / notebooks
__pycache__/
.ipynb_checkpoints/
*.pyc
.venv/
venv/
