# macOS
.DS_Store

# Gradle
.gradle/
**/.gradle/

# Build outputs
build/
**/build/
out/
**/out/

# Android Studio / IntelliJ
.idea/
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/

# Caches
caches/
**/caches/

# Logs
*.log

# Kotlin / Java compiled files
*.class

# Misc
__pycache__/
.ipynb_checkpoints/
